<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>A Retrospective Look on Covid-19</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <body>
    <div class="container-fluid">
        <div class="row border-bottom text-center">
            <div class="col">
                <h2 style="padding: .5em;">A Retrospective Look on Covid-19</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-2 border-end">
                <div>
                    <label class="form-label">Charts</label>
                    <select class="form-select" aria-label="Default select example" onchange="chartsSelectOnchange(this.value);">
                        <option value="0" selected>Select Chart</option>
                        <option value="chart_1">Chart 1</option>
                        <option value="chart_2">Chart 2</option>
                        <option value="chart_3">Chart 3</option>
                    </select>
                </div>
                <hr>
                <div>
                    <label class="form-label">Locations</label>
                    <div id="location_checkboxes"></div>
                </div>
            </div>
            <div class="col-10 text-center">
                <div id="select_chart">
                    <div style="padding:1em;font-size:110%;" class="fst-italic">Please select a chart.</div>
                </div>
                <div id="chart_1" class="d-none">
                    <canvas id="covidChart"></canvas>
                </div>
                <div id="chart_2" class="d-none">
                    <canvas id="covidChart2"></canvas>
                </div>
                <div id="chart_3" class="d-none">
                    <canvas id="covidChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<script>
    var chart1 = [];
    var chart2 = [];
    var chart3 = [];
    var locations = {};
    var chartOneObj;
    var chartTwoObj;
    var chartThreeObj;

    async function genCasesChart(covidData) {
      covidData = getFilteredCovidData(covidData);
      if (chartOneObj !== undefined) {
        chartOneObj.destroy();
      }
      const canvas = document.getElementById("covidChart");
      const ctx = canvas.getContext("2d");
  
      // Extract labels (countries) and data (percentages) from the covidData array
      const labels = covidData.map((item) => item.country);
      const casesData = covidData.map((item) => item.percentage);
      const deathsData = covidData.map((item) => item.deathsPercentage);
      const vaccineData = covidData.map((item) => item.percentVacinated);
  
      // Create the chart
      chartOneObj = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Percentage Cases Per Population",
              data: casesData,
              backgroundColor: "rgba(75, 192, 192, 0.7)",
            },
            {
              label: "Percent Deaths Per Population",
              data: deathsData,
              backgroundColor: "rgba(255, 99, 132, 0.7)",
            },
            {
              label: "Percent Vaccinated Per Population",
              data: vaccineData,
              backgroundColor: "rgba(255, 255, 0, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Percentage of Cases",
              },
            },
          },
        },
      });
    }
  
    async function genCasesChart2(covidData) {
      covidData = getFilteredCovidData(covidData);
      if (chartTwoObj !== undefined) {
        chartTwoObj.destroy();
      }
      const canvas = document.getElementById("covidChart2");
      const ctx = canvas.getContext("2d");
  
      // Extract labels (countries) and data (percentages) from the covidData array
      const labels = covidData.map((item) => item.country);
      const deathsData = covidData.map((item) => item.deathsPercentage);
      const percentDiabetes = covidData.map((item) => item.percentDiabetes);
  
      // Create the chart
      chartTwoObj = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Percent Deaths Per Population",
              data: deathsData,
              backgroundColor: "rgba(255, 99, 132, 0.7)",
            },
            {
              label: "Percent Diabetes Per Population",
              data: percentDiabetes,
              backgroundColor: "rgba(255, 255, 0, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Percentage of Cases",
              },
            },
          },
        },
      });
    }

    async function genCasesChart3(covidData) {
      covidData = getFilteredCovidData(covidData);
      if (chartThreeObj !== undefined) {
        chartThreeObj.destroy();
      }
      const canvas = document.getElementById("covidChart3");
      const ctx = canvas.getContext("2d");
  
      // Extract labels (countries) and data (percentages) from the covidData array
      const labels = covidData.map((item) => item.country);
      const percentCases = covidData.map((item) => item.percentCases);
      const gdpThousands = covidData.map((item) => item.gdpThousands);
  
      // Create the chart
      chartThreeObj = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Percentage Cases Per Population",
              data: percentCases,
              backgroundColor: "rgba(75, 192, 192, 0.7)",
            },
            {
              label: "GDP Per Capita In Thousands",
              data: gdpThousands,
              backgroundColor: "rgba(255, 255, 0, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Percentage of Cases",
              },
            },
          },
        },
      });
    }
  
    function getData() {
      $.ajax({
        url: "http://127.0.0.1:5000/api/get_country_percentage", // Replace with your API endpoint
        method: "GET",
        dataType: "json",
        success: function (data) {
          locationId = 0;
          for (var row of data) {
            var country = row[1].trim();
            var percentCases = parseFloat(row[0]).toFixed(2);
            var percentDeaths = parseFloat(row[2]).toFixed(2);
            var percentVacinated = parseFloat(row[3]).toFixed(2);
            var percentDiabetes = parseFloat(row[7]).toFixed(2);
            var gdpThousands = parseInt(parseFloat(row[6]) /1000);
            locationId += 1;
            locations[locationId] = {label: country, checked: true};
            chart1.push({
              country: country,
              percentage: percentCases,
              deathsPercentage: percentDeaths,
              percentVacinated: percentVacinated,
              locationId: locationId
            });
            chart2.push({
              country: country,
              deathsPercentage: percentDeaths,
              percentDiabetes: percentDiabetes,
              locationId: locationId
            });
            chart3.push({
              country: country,
              percentCases: percentCases,
              gdpThousands: gdpThousands,
              locationId: locationId
            });
           
          }
          populateCheckboxes();
          genCasesChart(chart1);
          genCasesChart2(chart2);
          genCasesChart3(chart3);
        },
        error: function () {
          // Handle any errors here
          var dataContainer = $("#data-container");
          dataContainer.html("<p>Error loading data</p>");
        } ,
      });
    }

    function getFilteredCovidData(covidData) {
        var filteredData = [];
        for (var row of covidData) {
            if (locations[row['locationId']]['checked'] === true) {
                filteredData.push(row);
            }
        }
        return filteredData;
    }

    function populateCheckboxes() {
        var checkboxHtml = [];
        for (var locationId in locations) {
            var checkbox = `
                <div class="form-check">
                    <input class="form-check-input location-checkboxes" type="checkbox" value="${locationId}" id="checkbox_${locationId}" onclick="locationCheckboxOnlick(this.value, this.id);" checked>
                    <label class="form-check-label">
                    ${locations[locationId]['label']}
                    </label>
                </div>
            `;
            checkboxHtml.push(checkbox);
        }
        $("#location_checkboxes").html(checkboxHtml.join(''));
    }

    function locationCheckboxOnlick(value, checkboxId) {
        locations[value]['checked'] = document.getElementById(checkboxId).checked;
        genCasesChart(chart1);
        genCasesChart2(chart2);
        genCasesChart3(chart3);
    }

    function chartsSelectOnchange(value) {
        $("#select_chart").addClass("d-none");
        $("#chart_1").addClass("d-none");
        $("#chart_2").addClass("d-none");
        $("#chart_3").addClass("d-none");
        if (value == 'chart_1') {
            $("#chart_1").removeClass("d-none");
        }
        else if (value =='chart_2') {
            $("#chart_2").removeClass("d-none");
        }
        else if (value =='chart_3') {
            $("#chart_3").removeClass("d-none");
        }
        else {
            $("#select_chart").removeClass("d-none");
        }
    }
  
    getData();
  </script>